<!-- <div class="main-container">
    <h1>Sample Component</h1>
    <h4>First Name: {{firstNameS}}</h4>
    <h4>Last Name: {{lastNameS}}</h4>
    <br>
    <button (click)= "getFullName()">Get FullName</button>
</div> -->


<!-- 
<div class="sample-component">
    <h1>Sample Component</h1>
    <h4>First Name: {{firstNameS}}</h4>
    <h4>Last Name: {{lastNameS}}</h4>
    <h4>Age: {{ageS}}</h4>
    <br>
    <button (click)="getFullName()">Get Full Name</button>
    <button (click)="getCurrentAge()">Get Age</button>
</div> -->
